doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Dashboard
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/progress1.css')
  script(src='https://cdn.jsdelivr.net/npm/chart.js')
  link(rel='stylesheet' href='/css/nav.css')
  link(rel='stylesheet' href='/css/header.css')
  link(rel='stylesheet' href='/css/parking.css')
  link(rel='stylesheet' href='/css/dashboard.css')

  script.
    function insertDate() {
    var now = new Date();
    var date = now.toLocaleDateString();
    document.getElementById("dateOut").value = date;
    }
    function insertTime() {
      var now = new Date();
      var time = now.toLocaleTimeString();
      document.getElementById("timeOut").value = time;
    }
nav.navbar1
  .logo
    img(src='/images/Dockvile Logo.png' alt='')
  .nav-items
    ul
      li
        a(href='')
          .silent-space
            span t
          img(src='/images/Parking icon.svg' alt='')
          p Parking
      li
        a(href='')
          .silent-space
            span t
          img(src='/images/tire icon.svg' alt='')
          p Tire
      li
        a(href='')
          .silent-space
            span t
          img(src='/images/battery icon.svg' alt='')
          p Battery
      li
        a(href='')
          .silent-space
            span t
          img(src='/images/dash board icon.svg' alt='')
          p Dashboard
    ul
      li
        a(href='')
          .silent-space
            span t
          img(src='/images/simple-line-icons_logout.svg' alt='')
          p LogOut
main
  div
    .header
      .left-section Darsh Board
      .right-section
        img.Notification(src='/images/Header-Notification.svg' alt='')
        img.shopping(src='/images/Header-Shopping chart.svg' alt='')
        img.img(src='/images/Header-img.png' alt='profile-pic')
  .analytics
    .dash-stat
      .dashboard-card
        .dashboard-card-top
          div
            p Parking
            h2
              | Ugx 
              span 240000
          img(src='/images/Upward Trend.svg' alt='')
        br
        .card-stats
          .prog
            .skill
              .outer
                .inner
                  #number
              svg(xmlns='http://www.w3.org/2000/svg' version='1.1' width='160px' height='160px')
                defs
                  lineargradient#GradientColor
                    stop(offset='0%' stop-='' color='#DA22FF')
                    stop(offset='100%' stop-='' color='#9733EE')
                circle(cx='47.5' cy='47.5' r='42' stroke-linecap='round')
          div
            h4 115 of 200
            br
            p 30Truks
            p 30 personal Cars
            p 12 Taxis
            p 2 Coasters
            p 15 Bodas
      .dashboard-card
        .dashboard-card-top
          div
            p Tire
            h2
              | Ugx 
              span 40000
          img(src='/images/Upward Trend.svg' alt='')
        br
        .card-stats
          .prog
            .skill
              .outer
                .inner
                  #number 2%
              svg(xmlns='http://www.w3.org/2000/svg' version='1.1' width='160px' height='160px')
                defs
                  lineargradient#GradientColor
                    stop(offset='0%' stop-='' color='#DA22FF')
                    stop(offset='100%' stop-='' color='#9733EE')
                circle(cx='47.5' cy='47.5' r='42' stroke-linecap='round')
          div
            h4 2 of 100
            br
            p 3 Dunlop
      .dashboard-card
        .dashboard-card-top
          div
            p Battery
            h2
              | Ugx 
              span 240000
          img(src='/images/Upward Trend.svg' alt='')
        .card-stats-battery
          .prog-rent
            h5 Rent
            br
            .prog
              .skill
                .outer
                  .inner
                    #number 2%
                svg(xmlns='http://www.w3.org/2000/svg' version='1.1' width='160px' height='160px')
                  defs
                    lineargradient#GradientColor
                      stop(offset='0%' stop-='' color='#DA22FF')
                      stop(offset='100%' stop-='' color='#9733EE')
                  circle(cx='47.5' cy='47.5' r='42' stroke-linecap='round')
            br
            div
              h4 1 of 100
              br
              p Battery1
          .prog-rent
            h5 Sold
            br
            .prog
              .skill
                .outer
                  .inner
                    #number 1%
                svg(xmlns='http://www.w3.org/2000/svg' version='1.1' width='160px' height='160px')
                  defs
                    lineargradient#GradientColor
                      stop(offset='0%' stop-='' color='#DA22FF')
                      stop(offset='100%' stop-='' color='#9733EE')
                  circle(cx='47.5' cy='47.5' r='42' stroke-linecap='round')
            br
            div
              h4 1 of 100
              br
              p Battery1
      .dashboard-card
        .dashboard-card-top
          div
            p Total Revenue 
            h2
              | Ugx 
              span 240000
        .graph
          canvas#myChart(width='40' height='40')
          script(src='/js/graph.js')
  
  //- Parking table
  .table-analytics(style='margin: 24px 24px ')
    h5 
        strong Parking Register

    table.table
      thead.thead-dark
        tr
          th.col Name
          th.col Number Plate
          th.col Phone Number
          th.col NIN Number
          th.col Vehicle
          th.col Color
          th.col Parking Slot
          th.col Time In
          th.col Date In
          th.col Time Out
          th.col Date Out
          th.col Check Out

      tbody.table-group-divider
        if parkings.length
          each parking in parkings
            tr
              td #{parking.fullName}
              td #{parking.numberPlate}
              td #{parking.phoneNumber}
              td #{parking.nin}
              td #{parking.vehicles}
              td #{parking.color}
              td #{parking.parkingSlot}
              td #{parking.timeIn}
              td #{parking.dateIn}
              td #{parking.timeOut}
              td #{parking.dateOut}
              td 
               a.btn.btn-warning(href="/api/dashboard/edit/"+parking._id) checkOut

        else
          p there are no cars parked
  br
  //- Battery table
  .table-analytics(style='margin: 24px 24px ')
    h5 
        strong Battery table

    table.table
      thead
        tr
          th.col Name
          th.col Phone Number
          th.col NIN Number
          th.col Vehicle
          th.col Battery Type
          th.col Barttery Number
          
      tbody.table-group-divider
        if Batterys.length
          each Battery in Batterys
            tr
              td #{Battery.fullName}
              td #{Battery.phoneNumber}
              td #{Battery.nin}
              td #{Battery.vehicles}
              td #{Battery.batterytype}
              td #{Battery.bartterynumber}
        else
          p there are no battery buyers
  br
  //- Battery Rent
  .table-analytics(style='margin: 24px 24px ')
    h5 
        strong Battery Rent table

    table.table
      thead
        tr
          th.col Name
          th.col Phone Number
          th.col NIN Number
          th.col Vehicle
          th.col Battery Type
          th.col Barttery Number
          
      tbody.table-group-divider
        if Batteryrents.length
          each Batteryrent in Batteryrents
            tr
              td #{Batteryrent.fullName}
              td #{Batteryrent.phoneNumber}
              td #{Batteryrent.nin}
              td #{Batteryrent.vehicles}
              td #{Batteryrent.batterytype}
              td #{Batteryrent.bartterynumber}
        else
          p there are no battery buyers
  br
  //- Tire Information
  .table-analytics(style='margin: 24px 24px ')
    h5 
        strong Tire Purchase table

    table.table
      thead
        tr
          th.col Name
          th.col Phone Number
          th.col Vehicle
          th.col Tire Type
          th.col Tire Size
          th.col Tire Number
          
      tbody.table-group-divider
        if Tires.length
          each Tire in Tires
            tr
              td #{Tire.fullName}
              td #{Tire.phoneNumber}
              td #{Tire.vehicles}
              td #{Tire.tiretype}
              td #{Tire.tiresize}
              td #{Tire.tirenumber}
        else
          p there are no battery buyers
  br
  //- TirePressure
  .table-analytics(style='margin: 24px 24px ')
    h5 
        strong Tire Pressure table

    table.table
      thead
        tr
          th.col Name
          th.col Phone Number
          th.col Vehicle
          th.col Tire Type
          th.col Tire Size
          th.col Tire Number
          
      tbody.table-group-divider
        if TirePressures.length
          each TirePressure in TirePressures
            tr
              td #{TirePressure.fullName}
              td #{TirePressure.phoneNumber}
              td #{TirePressure.vehicles}
              td #{TirePressure.tiretype}
              td #{TirePressure.tiresize}
              td #{TirePressure.tirenumber}
        else
          p there are no pressure purchase
  br
  //- TirePuncture
  .table-analytics(style='margin: 24px 24px ')
    h5 
        strong Tire Puncture table

    table.table
      thead
        tr
          th.col Name
          th.col Phone Number
          th.col Vehicle
          th.col Tire Type
          th.col Tire Size
          th.col Tire Number
          
      tbody.table-group-divider
        if TirePunctures.length
          each TirePuncture in TirePunctures
            tr
              td #{TirePuncture.fullName}
              td #{TirePuncture.phoneNumber}
              td #{TirePuncture.vehicles}
              td #{TirePuncture.tiretype}
              td #{TirePuncture.tiresize}
              td #{TirePunctures.tirenumber}
        else
          p there are no pressure purchase
  br
  //- TireValves
  .table-analytics(style='margin: 24px 24px ')
    h5 
        strong Tire Valves table

    table.table
      thead
        tr
          th.col Name
          th.col Phone Number
          th.col Vehicle
          th.col Tire Type
          th.col Tire Size
          th.col Tire Number
          
      tbody.table-group-divider
        if TireValves.length
          each TireValve in TireValves
            tr
              td #{TireValve.fullName}
              td #{TireValve.phoneNumber}
              td #{TireValve.vehicles}
              td #{TireValve.tiretype}
              td #{TireValve.tiresize}
              td #{TireValve.tirenumber}
        else
          p there are no tire valve buyers
  
  br
  //- employees table
  .table-analytics(style='margin: 24px 24px ')
    h5 
      strong Employees

    table.table
      thead
        tr
          th.col Name
          th.col Email
          th.col Phone Number
          th.col Delete

      tbody.table-group-divider
      if employees.length
        each employee in employees
          tr
            td #{employee.fullName}
            td #{employee.email}
            td #{employee.phoneNumber}
            td 
              form(action="/api/employee/delete" method="POST")
                input(type="hidden" name="id" value=employee._id)
                button.btn.btn-danger(Type="submit") Delete 

      else
        p there are no employees in the database

script(src='/js/progress1.js')
